<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">


    {% include sidebar.html %}

    <div class="content container">
  	
  	<nav>
  		<ul class="nav_bar">
				<li><a href="#" data-slidepanel="panel"><i class="fa fa-align-justify fa-fw"></i></a></li>
				<li><a href="{{ site.baseurl }}" ><i class="fa fa-institution fa-fw"></i></a></li>
				<li><a href="/archive" ><i class="fa fa-archive fa-fw"></i></a></li>
			</ul>
  	</nav>
      
      {{ content }}


    </div>

    	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    	<script src="{{ site.baseurl }}public/js/main.js"></script>
      <script src="{{ site.baseurl }}public/js/slide_tab.js"></script>
      
  </body>
</html>
