<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">


    {% include sidebar.html %}

    <div class="content container">
  <a href="#" data-slidepanel="panel"><i class="fa fa-align-justify"></i></a>
  <a href="{{ site.baseurl }}" ><i class="fa fa-institution"></i></a>
      {{ content }}
    </div>

    	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    	<script src="{{ site.baseurl }}public/js/main.js"></script>
    	<script src="{{ site.baseurl }}public/js/slide_tab.js"></script>

  </body>
</html>
